[user]
	name = Chris Coffey
	email = cmcof273@gmail.com

[difftool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false
[difftool]
    prompt = false
[diff]
    tool = kdiff3
[mergetool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false
[mergetool]
    keepBackup = false
[merge]
    tool = kdiff3
[push]
	default = simple
[core]
	editor = /opt/homebrew/bin/nvim
[alias]
    last = log -l HEAD
    unstage = checkout -- .

    # the following is borrowed from https://blog.jez.io/cli-code-review/

    # list files which have changed since REVIEW_BASE
    # (REVIEW_BASE defaults to 'master' in my zshrc)
    files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")

    # Same as above, but with a diff stat instead of just names
    # (better for interactive use)
    stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
    # Open all files changed since REVIEW_BASE in Vim tabs
    # Then, run fugitive's :Gdiff in each tab, and finally
    # tell vim-gitgutter to show +/- for changes since REVIEW_BASE
    review = !nvim -p $(git files) +\"tabdo :Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

    # Same as the above, except specify names of files as arguments,
    # instead of opening all files:
    # git reviewone foo.js bar.js
    reviewone = !nvim -p +\"tabdo :Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

    # Checkout master and rebase on remote
    cm = !git checkout master
    gcrm = !git gcr master
    gcr = !git checkout $1 && git rebase -i origin/master
    po = !git push origin $(git rev-parse --abbrev-ref HEAD)


[github]
	user = ChrisCoffey
[ghi]
	token = !security find-internet-password -a ChrisCoffey -s github.com -l 'ghi token' -w
[credential]
	helper = cache timeout=90000000000
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
